body {
margin: 0px;
padding: 0px;

font-family: "PT-Sans", Arial, sans-serif;
font-size: 14px;
line-height: 21px;
color: #333333;
text-transform: uppercase;

background-image: url("../img/background_photo.png");
background-repeat: no-repeat;
background-position: top center;
background-color: #f2f2f2;

box-shadow:
  2px 0 1px 0 #000000,
  -2px 0 1px 0 #000000;
}
a {
  text-decoration: none;
}


.main-header {
  width: 1200px;
  position: relative;
  display: block;
  margin: 0 auto;
  
}
.main-header-box {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 135px;
  background-color: transparent;
}

.main-navigation {
  
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  width: 1200px;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 75px;
}
.navigation-list {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
ul.navigation-list  {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-list-item {
  padding: 0 73px;
}

.navigation-list-item.next-right {
  margin-right: auto;
}

.navigation-list-item.prev-left {
  margin-left: auto;
}

.main-navigation a {
  display: block;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
}
.main-navigation a:hover {
  color: #81b3d2;
}
.main-navigation a:focus {
  color: #cacaca;
}
h1.visually-hidden,
h2.visually-hidden,
span.visually-hidden  {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-banner img {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
}
/*.main-banner {
  position: relative;
}*/
/*.main-banner:after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/polygon.png");
  background-repeat: no-repeat;
  background-size: 1200px 59px;
  z-index: 10;
  top: 448px;
}*/
.bold {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 25px;
}
.container {
  margin: 0 auto;
  width: 1200px;
  
}
.introduse {
  display:flex;
  flex-direction: column;
  background-color: #ffffff;
  text-align: center;
  margin-top: 60px;
  padding-top: 60px;
  position: relative;
  left: 0;
  padding-bottom: 50px;
}
.introduse:before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/polygon-fixed.png");
  background-repeat: no-repeat;
  width: 1201px;
  height: 59px;
  z-index: 10;
  top: -55px;
}

.reason-one {
  display: flex;
  margin: auto;
  align-items: center;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.reason-two {
  display: flex;
  margin: auto;
  align-items: center;
  background-color: #ffffff;
}
.reason-one-text,
.reason-two-text {
  width: 400px;
  height: 256px;
  box-sizing: border-box;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  padding-top: 45px;
  margin-top: 0;
  padding-left: 58px;
  padding-right: 30px;
  padding-bottom: 45px;
}
.headline {
  display: inline-block;
  width: 172px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 25px;
}
.dash {
  margin-bottom: 25px;
}
.dash::before,
.dash::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #ffffff;
  vertical-align: middle;
  display: inline-block;
}
.recomends {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-bottom: 80px;
  background-color: #ffffff;
}
.recomends-one,
.recomends-two,
.recomends-three {
  text-align: center;
  font-size: 14px;
}

.recomends-one {
  box-sizing: border-box;
  width: 310px;
  margin-left: 73px;
}
.recomends-two {
  width: 310px;
}
.recomends-three {
  width: 310px;
  margin-right: 55px;
}
.reasons-list {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  min-height: 254px;
  align-items: center;
}
.reasons-list-item {
  width: 300px;
  text-align: center;
  vertical-align: middle;
  margin-top: 0;
  padding-top: 0;
  box-sizing: border-box;
  
}
.reasons-list-item:first-child {
  margin-left: 73px;
}
.reasons-list-item:last-child {
  margin-right: 73px;
}  
.dashed:before,
.dashed:after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #333333;
  vertical-align: middle;
  display: inline-block;
}
.dashed {
 padding-bottom: 25px; 
}
.footer-box {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}
.block-callback p,
.block-callback h2{
  text-align: center;
  vertical-align: middle;
}
.block-callback h2 {
  padding-top: 55px;
  padding-bottom: 35px;
  margin: 0;
}
.block-callback p {
  margin-bottom: 50px;
}
.search {
  z-index: 2;
  width: 575px;
  position: relative;
  margin: auto;
  
}
.search-form {
  width: 575px;
  position: absolute;
  top: 86px;
  background-color: #ffffff;
  padding: 30px;
  box-sizing: border-box;
  max-height: 420px;
   -webkit-transition: max-height .5s, padding .5s;
  transition: max-height .5s, padding .5s;
  overflow: hidden;
}
.button {
  font: inherit;
  background-color: #766357;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: none;
  width: 575px;
  height: 86px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
}
.button:hover {
  background-color: #604e43;
}
.button:active {
  background-color: #503e33;
  color: #928a85;
}

.search-form-item{
  position: relative;
  font: inherit;
  font-size: 14px;
  font-weight: bold;
}
.search-form-item input:hover {
  background-color: #ebebeb;
}
.search-form-item input:focus {
  background-color: #ffffff;
}
.date-input {
  width: 347px;
  box-sizing: border-box;
  padding: 10px 15px;
  padding-right: 30px;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  position: relative;
}
.calendar {
  position: absolute;
  right: 31px;
  top: 10px;
  border: none;
  background-color: transparent;
  outline: none;
}
.calendar path {
  fill: #cacaca;
}
.calendar:hover path{
  fill: #000000;
}
..calendar:active path {
  fill: #81b3d2;
}
.count {
  display: flex;
  width: 465px;
  margin: 0 auto;
  justify-content: space-between;
}
.count-form-item {
  position: relative;
}
.count-form-item label {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}
.count-form-item label:first-child {
  margin-right: 25px;
}

.adult-count,
.children-count {
  width: 116px;
  box-sizing: border-box;
 /* padding: 10px 40px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  font: inherit;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  position: relative;
}
.minus {
  position: absolute;
  border: none;
  width: 19px;
  height: 19px;
  background-color: transparent;
  cursor: pointer;
  top: 10px;
  z-index: 10;
  outline: none;
}
.minus::after{
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  right: 2px;
}
.minus:hover:after {
  background-color: #000000;
}
.minus:active:after {
  background-color: #81b3d2;
}
.plus {
  position: absolute;
  border: none;
  width: 19px;
  height: 19px;
  background-color: transparent;
  cursor: pointer;
  right: 10px;
  top: 10px;
  outline: none;
}
.plus::before,
.plus::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  right: 2px;
}
.plus::before {
  transform: rotate(90deg);
}
.plus:hover:before,
.plus:hover:after {
  background-color: #000000;
}
.plus:active:before,
.plus:active:after {
  background-color: #81b3d2;
}
.button-search {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  width: 460px;
  height: 58px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  padding: 0;
  margin-left: 28px;
}
.button-search:hover {
  background-color: #669ec0;
}
.button-search:active {
  background-color: #5496bd;
  color: #94b9d2;
}
.map {
  display: block;
  width: 1200px;
  height: 593px;
  position: relative;
  z-index: 1;
}
.social-button {
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  width: 47px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-button:hover {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd;
}
.social-button:active path {
  fill: #88b6d1;
}
.main-footer {
  display: block;
  position: relative;
  z-index: 10;
  width: 1200px;
  margin-top: -118px;
  padding-top: 35px;
  background-color: rgba(255,255,255,.9);
  
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: space-between;

}
/*.footer-social {
  text-align: center;
  width: 155px;
}*/
ul.footer-social {
  list-style: none;
  display: flex;
  width: 152px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
.hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  width: 140px;
  margin-left: 130px;
}
.footer-copyright {
  width: 230px;
  margin-right: 118px;
  display: flex;
  padding-top: 14px;
}
.academy-logo {
  margin-left: 20px;
  position: relative;
  top: -14px;
}
.academy-logo:hover path{
  fill: #81b3d2;
}
.academy-logo:active path {
  fill: #bdbbbc;
}
.inner-page {
  background-color: #fefefe;
  background-image: url("../img/inner-page.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
.inner-page .main-navigation {
  margin-bottom: 0;
}
.filtres {
  background-image: url("../img/filter_background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #ffffff;
  margin-top: 0;
  color: #ffffff;
}
fieldset {
  list-style: none;
  padding: 0;
  margin: 0;
  border: none; 
}
.staff-name,
.type-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
.filter-container {
  display: flex;
  justify-content: space-between;
}
.filtres-column {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.fiter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.staff {
  width: 240px;  
  margin-left: 73px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hotel-type {
  width: 240px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.filter-options {
  padding-top: 20px;
}
.hotel {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.hotel input[type="checkbox"]:checked + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
}
.hotel input[type="checkbox"]:not(:checked) + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
}
.range {
  width: 330px;
  margin-right: 73px;
  margin-top: 30px;
}
.range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  position: relative;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}
.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.range-controls {
  position: relative;

  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.range-toggle {
  width: 4px;
  height: 4px;
  position: absolute;
  top: -9px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
.range-toggle:hover {
  background: #1c4f80;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
.search-result {
  display: flex;
  flex-wrap: wrap;
  margin-left: 73px;
  margin-right: 73px;
}
.search-result-count {
  padding-top: 25px;
  padding-bottom: 25px;
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}
.search-result-bar {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-left: 45px;
  margin-right: 40px;
  padding-top: 36px;
  padding-bottom: 36px;
  vertical-align: middle;
  display: inline-block;
}
.sorting {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sorting li {
  display: inline-block;
  vertical-align: middle;
  padding: 36px 15px 36px 0;  
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}
.sorting a {
  color: #d1d1d1;
  border-bottom: 1px dotted #81b3d2; 
}
.sorting a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2; 
}
.sorting a:active {
  color: #000000;
  border: none;
}
 a.current {
  color: #81b3d2;
  border: none;
}
.switch {
  margin-left: auto;
  width: 45px;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  justify-content: space-between;
}
.switch-down:hover path,
.switch-up:hover path {
  fill: #000000;
}
.switch-down:active path,
.switch-up:active path {
  fill: #81b3d2;
}
.result {
  display: flex;
  flex-wrap: no-wrap;
  width: 1200px;
  margin: auto;
}
.hotels-item {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 28px 73px;
  box-sizing: border-box;
  border-top: 2px solid #e5e5e5;
}
.hotels-item:last-child {
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 35px;
}
.hotels-item-left {
  margin-right: 26px;
  margin-left: 0;
}
.hotel-item-center {
  width: 350px;
}
.hotel-item-center .bold {
  color: #000000;
}
.hotel-item-center .bold:hover {
  color: #81b3d2;
}
.hotel-item-center .bold:active {
  color: #b2b2b2;
}
.hotel-item-center p {
 padding: 0;
 margin: 0;
}
.type,
.price {
  display: inline-block;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 40px;
  width: 114px;
}
.button-more,
.button-booking {
 display: inline-block;
 
}
.button-more {
 display: inline-block;
  margin-right: 7px;
 padding: 7px 16px;
  width: 112px;
  box-sizing: content-box;
  font: inherit;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}
.button-booking {
  display: inline-block;
  
  padding: 7px 16px;
  width: 144px;
  
  font: inherit;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}
.button-more a,
.button-booking a {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
.button-more:hover {
  background-color: #669ec0;
}
.button-more:active {
  background-color: #5496bd;
  color: #88b6d1;
}
.button-booking:hover {
  background-color: #604e43;
}
.button-booking:active {
  background-color: #503e33;
  color: #857871;
}
.hotels-item-right {
  width: 115px;
  margin-left: auto;
  padding-right: 73px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.button-rating {
  display: block;
  width: 112px;
  height: 31px;
  background-color: #f2f2f2;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.inner-footer {
  background-color: #ffffff;
  
}
.inner-page .footer-container {
  margin: 0 auto;
}

.form-animation {
  transition: max-height 5s;
  max-height: 0px;
  padding: unset;
  overflow: hidden;
   -webkit-transition: max-height .5s, padding .5s;
  transition: max-height .5s, padding .5s;
}
.result-form {
  padding: 5px;
    display: none;
    transition: 2s;
    position: absolute;
    top: 295px;
    left: 125px;
    color: #ff0000;
}
.show-result {
  display: block;
}
